/* CSS Resets */

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Oswald';
    


    background: radial-gradient(circle at top right, #ffc500, #D38312, #870000 90%);  /*#A83279,*/
    background-repeat: no-repeat;
        
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Base Styles */

.container {
    width: 100%;
    padding: 2% 7%;
}

.banner {
    width: 100%;
    height: 100%;
    background: white;
    padding-top: 1px;
    text-align: center;
    font-family: 'Oswald';
    font-size: 3em;
}

.banner div {
    width: 100%;
    height: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner a {
    text-decoration: none;
}

.banner div h1,
.banner div i {
background: radial-gradient(circle at top right, #ffc500, #D38312, #870000 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner div h1 {
    margin: 0;
}

.banner div i {
    position: absolute;
    bottom: -5%;
}

/************************/
/*  Auth Form Styles    */
/************************/
.authForms {
    width: 100%;
    height: 100%;
}

/************************/
/*    Button Styles     */
/************************/

.button {
    font-size: 1.2em;
    padding: .4em;
    margin: 10px 0;
    background: radial-gradient(circle at top right, #ffc500, #D38312, #870000 90%);
    border: 2px solid black;
    font-family: 'Oswald';
}

.button:hover,
.button:focus {
    color: white;
    cursor: pointer;
}

.button:active {
    color: black;
}

.button-group {
    margin-top: 15px;
    display: inline-block;
}

.button-group .button {
    margin: 0;
}

.button-group .button:nth-child(n + 2) {
    margin-left: -6px;
}


/************************/
/* Form Elements Styles */
/************************/
.authForms {
    padding: 0 10%;
    width: 100%;
}

.form {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

#login {
    width: 50%;
    float: left;
}

#signup {
    width: 50%;
    float: right;
}

.form button {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.input-group {
    text-align: center;
}

.input-group label {
    display: block;
    text-align: left;
}

.input-group input {
    margin: 10px 0;
    width: 100%;
    font-size: 1.3em;
    border: 1px solid #aaa;
    padding: .5em;
}

.input-group input:focus {
    outline: 1px solid #aaa;
}

select {
    border: 2px solid black;
    background: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 5px;
}


/************************/
/*  Collab List Styles  */
/************************/

#collabList {
    width: 100%;
}

#collabList hr {
    border-color: black;
    width: 100%;
}

#collabList h1 {
    text-align: center;
}

#collabList h1,
.collab h3 {
    font-family: 'Oswald';
}

.collab {
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.7);
    width: 95%;
}

.collab.disabled {
    border-color: #999;
    background: rgba(204,204,204,0.4);
    color: #666;
}

.collab:not(.disabled):hover {
    background: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.collab h3,
.collab p {
    margin: 10px 15px;
}

.collab p {
    font-size: 0.75em;
    text-overflow: ellipsis;
}

.collab i {
    margin-right: 5px;
}

/* For Angular */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
