/************************/
/*    Top Nav Styles    */
/************************/
.topNav {
	position: fixed;
	width: 100%;
	height: 60px;
	border-bottom: 3px solid black;
	z-index: 1000;
	background: white;
}

/************************/
/*  Track List Styles   */
/************************/
.tracks {
	position: fixed;
	width: 215px;
	height: 100%;
	padding-top: 60px;
	border-right: 2px solid black;
	z-index: 800;
	background: white;
}
/************************/
/*  Track Info Styles   */
/************************/
.track {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
	padding: 5px;
}

.track .trackName {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	font-weight: normal;
}

.track .button,
.track select {
	border-color: #aaa;
}

.mutesolo {
	line-height: 12px;
	width: 25px;
	height: 25px;
	font-size: 0.8em;
}

.arm-group {
	margin-left: 15px;
}

.arm {
	height: 25px;
	font-size: 0.8em;
	line-height: 12px;
	margin-left: 10px;
}

.track select {
  	height: 25px;
  	margin: 0;
  	margin-left: -6px;
  	line-height: 12px;
}

/************************/
/*  Bottom Nav Styles   */
/************************/
.bottomNav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-left: 215px;
	border-top: 1px solid black;
	z-index: 600;
	background: white;
}