<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Music App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald" rel="stylesheet">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body ng-controller="AuthController as auth">
    <header>
        <h1>Music App</h1>
    </header>
    <form ng-submit="auth.login()" class="form">
        <div class="input-group">
            <label for="username">email</label>
            <input type="text" ng-model="auth.loginUsername" id="username">
        </div>
        <div class="input-group">
            <label>password</label>
            <input type="password" ng-model="auth.loginPassword" id="password">
        </div>
        <button type="submit" class="button">Log In</button>
    </form>
    <div class="registrationModal">
        <form class="form">
            <div class="input-group">
                <label for="username">username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="input-group">
                <label for="password">password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="input-group">
                <label for="confirmPassword">confirm password</label>
                <input type="password" id="confirmPassword">
            </div>
            <button class="button">Sign Up</button>
        </form>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    </script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="features/app.module.js"></script>
    <script src="features/auth/auth.interceptor.js"></script>
    <script src="features/auth/auth.controller.js"></script>
    <!-- endinject -->
</body>

</html>
