<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>mixulus</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/965f3ecbfc.js"></script>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body ng-controller="AuthController as auth">
    <header class="banner">
        <div>
            <a href="#authForms"><h1>mixulus</h1>
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
    </header>
    <div class="authForms" id="authForms">
        <form ng-submit="auth.login()" class="form" id="login">
            <h2>Log In</h2>
            <div id="loginErrorDiv" ng-show="auth.loginError"><p>{{auth.loginError}}</p></div>
            <div class="input-group">
                <label for="username">username</label>
                <input type="text" ng-model="auth.loginUsername" id="username">
            </div>
            <div class="input-group">
                <label for="password">password</label>
                <input type="password" ng-model="auth.loginPassword" id="password">
            </div>
            <button type="submit" class="button">Log In</button>
        </form>
        <form class="form" id="signup">
            <h2>Sign Up</h2>
            <div class="input-group">
                <label for="newUsername">username</label>
                <input type="text" id="newUsername" name="newUsername" ng-model="auth.signupUsername">
            </div>
            <div class="input-group">
                <label for="newPassword">password</label>
                <input type="password" id="newPassword" name="newPassword" ng-model="auth.signupPassword">
            </div>
            <div class="input-group">
                <label for="confirmPassword">confirm password</label>
                <input type="password" id="confirmPassword" ng-model="auth.signupPasswordConfirm">
            </div>
            <button class="button" ng-click="auth.signup();">Sign Up</button>
        </form>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="features/app.module.js"></script>
    <script src="features/auth/auth.interceptor.js"></script>
    <script src="features/auth/auth.controller.js"></script>
    <!-- endinject -->
</body>

</html>
