<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Music App | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald" rel="stylesheet">
    <script src="https://use.fontawesome.com/965f3ecbfc.js"></script>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body ng-controller="HomeController as home">
    <div class="container">
        <!-- current collabs  -->
        <div id="collabList">
            <h1>Current Collabs</h1>
            <div class="collab" ng-click="home.newCollab()">
                <h3><i class="fa fa-plus" aria-hidden="true"></i> New Collab</h3>
                <p>Click here to start a new collaboration!</p>
            </div>
            <hr>
            <div class="collab" ng-repeat="collab in home.collabs" ng-click="home.goToWorkspace(collab)" ng-class="{'disabled': collab.waiting == true}">
                <div class="ng-cloak metainfo">
                    <h3><i class="fa fa-hourglass" aria-hidden="true" ng-show="collab.waiting"></i>
                    <i class="fa fa-music" aria-hidden="true" ng-show="!collab.waiting"></i> {{collab.name}}</h3>
                    <p>
                        <span ng-repeat="user in collab.userIds">
                        {{user.username}}{{$last ? '' : ', '}}
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- past collabs will go here eventually -->
        <div>
        </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="features/app.module.js"></script>
    <script src="features/auth/auth.interceptor.js"></script>
    <script src="features/core/collab.factory.js"></script>
    <script src="features/home/home.controller.js"></script>
</body>

</html>
