<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Music App | Home</title>
    <base href="/home">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald" rel="stylesheet">
    <script src="https://use.fontawesome.com/965f3ecbfc.js"></script>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body ng-controller="HomeController as home">
    <div class="container">
        <!-- current collabs  -->
        <div id="collabList">
            <h1>Current Collabs</h1>
            <div class="collab">
                <h3>Collab Name</h3>
                <p><span>User 1,</span><span>User 2</span></p>
            </div>
            <div class="collab" ng-repeat="collab in home.collabs" ng-click="home.goToWorkspace(collab._id)" >
                <div class="metainfo">
                	<!-- TODO!!!!! change collab model and route to include collab name -->
                	<!-- TODO!!!!! Figure out how to disable embed-code-stats -->
                    <h3>collab.name goes here</h3>
                    <p>
                        <span ng-repeat="user in collab.userIds">
						{{user.username}}{{$last ? '' : ', '}}
					</span>
                    </p>
                </div>

            </div>
        </div>
        <!-- past collabs -->
        <div>
        </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="features/app.module.js"></script>
    <script src="features/core/collab.factory.js"></script>
    <script src="features/home/home.controller.js"></script>
</body>

</html>
